.clickable li{
  cursor: pointer;
  color:#0088cc;
}

.clickable li:hover{
  text-decoration: underline;
}


h1 {
  font-size: 70px;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 1450px;
}

.top-head {
  border-bottom: 3px solid #5E6264;
  height: 80px;
}

#definition ul {
  background-color: white;
  border-radius: 5px;
  border: 3px solid #5E6264;
  height: 130px;
  padding-top: 25px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 0px;
}

#definition ul li {
  display: none;
  text-align: center;
  margin-right: 0px;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  text-align: center;
  height: 2000px;
  background: linear-gradient(to bottom right, #D9EBF7, #82B2CF)
}

ul {
  list-style-type: none;
}

h2 {
  text-decoration: underline;
  font-size: 36px;
  font-family: 'Stalinist One', cursive;
  font-weight: bold;
}

#term {
  border: #5E6264 solid 3px;
  border-radius: 15px;
}

#term ul li {
  font-size: 28px;
  text-align: center;
  padding: 0px;
}

#term ul {
  padding: 0px;
}
